<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Key, Words">
		<meta name="description" content="Hier Beschreibung einfügen">
		<meta name="author" content="Name Autor">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		
		<link rel="stylesheet" type="text/css" href="assets/css/elearn.css">
		<link rel="stylesheet" type="text/css" href="assets/css/quiz.css">

		<script type="text/javascript" src="assets/js/min.js"></script> <!-- von UHH verwendetes JQuery -->
		<script type="text/javascript" src="assets/js/elearn.js"></script> <!-- eLearn.js -->
		<script type="text/javascript" src="assets/js/quiz.js"></script> <!-- Quiz Script -->

		<script>
		    window.onload = function() {
                eLearnJS.showAllSections();
                eLearnJS.showSection(0);
            }
        </script>

		<title>elearn.js Template</title>
	</head>
	<body>
	    <!-- #wrap muss bleiben, sonst funktioniert eLearn.js nicht -->
		<div id="wrap">
            <!-- Page Info -->
            <div class="lb-wrap" id="info">
                <div class="lightbox">
                    <div class="info-wrapper">
				        <!--Der inhalt der Info-Box kann frei mit html-Inhalt gefüllt werden. -->
			         	<h4>Produktion diogitaler Skripte</h4>
				        <p>
				            Michael Heinecke<br>
				            Universität Hamburg
				        <p>
				    </div>
			    </div>
            </div>

			<div class="page">

				
                
                <section name="Titelseite">

<!--Hier den Markdown-Export einfügen-->

{{ BODY }}

                </section>


            	<!--MathJax-Einbindung für die Formeldarstellung-->
	            <script type="text/x-mathjax-config">
	            	if (typeof MathJaxListener !== 'undefined') {
	                      MathJax.Hub.Register.StartupHook('End', function () {
	                        MathJaxListener.invokeCallbackForKey_('End');
	                      });
	                    }
	                    </script>
	            <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

            </div>
		</div>
	</body>
</html>
