@charset "UTF-8";
/*
* CSS for eLearn.js
* Created by Michael Heinecke
* Improved by Arne Westphal
* eLearning-office MIN, Universität Hamburg
* v1.0.8 18/10/08 cc-by-sa
*/

/* Color Variables */

/* Greys */

$dark_white: #eee;
$lightest_grey: #dcdcdc;
$lighter_grey: #b4b4b4;
$light_grey: #888;
$mid_grey: #666;
$dark_grey: #444;
$darker_grey: #333;
/* Colors */

$uhh_red: #e2001a;
$dark_blue: #3c4c60;
/* Transparents */

$white_light_transparent: rgba(255, 255, 255, 0.8);
$mid_grey_transparent: rgba(102, 102, 102, 0);
$black_half_transparent: rgba(0, 0, 0, 0.4);
/*Einbindung der benötigtren Schriften*/

@font-face {
    font-family: 'eLearn-Icons';
    font-style: normal;
    font-weight: normal;
    src: url("../font/eLearn-Icons.woff") format("woff"), url("../font/eLearn-Icons.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url("../font/OpenSans-Regular-webfont.woff") format("woff"), url("../font/OpenSans-Regular-webfont.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url("../font/OpenSans-Bold-webfont.woff") format("woff"), url("../font/OpenSans-Bold-webfont.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url("../font/OpenSans-Italic-webfont.woff") format("woff"), url("../font/OpenSans-Italic-webfont.ttf") format("truetype");
}

/*Seitenaufbau*/

* {
    box-sizing: border-box;
}

body {
    font-family: Open Sans, sans-serif;
    line-height: 164%;
    background-color: $lightest_grey;
    font-size: 93.75%;
    margin: 0;
    margin: auto;
}

iframe,
video {
    max-width: 100%;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

#wrap {
    min-height: 100%;
    vertical-align: center;
    max-width: 1100px;
    margin: 0em auto 0em auto;
}

#navigation {
    position: fixed;
    vertical-align: center;
    width: 1100px;
    max-width: 100%;
    margin: 0em auto 0em auto;
    text-align: left;
    font-size: 0.8em;
    color: $lightest_grey;
    z-index: 5;
}

#nav-bar {
    z-index: 5;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    background-color: $mid_grey;
    height: auto;
}

#nav-bar .btn {
    padding: 5px;
    margin-top: -5px;
}

#btnBack,
#btnAll,
#btnExpSym,
#btnMenu,
#btnHelpSym {
    color: $lightest_grey;
    font-size: 180%;
    display: inline-block;
}

#btnBackCon {
    display: none;
}

.back-enabled #btnBackCon {
    display: block;
    float: left;
    overflow-y: auto;
    margin-left: 20px;
}

.back-enabled #btnBack {
    float: left;
    width: 22px;
}

.back-enabled #btnBackText {
    margin-left: 5px;
    float: left;
}

#btnAllCon {
    float: left;
    overflow-y: auto;
    margin-left: 20px;
}

.back-enabled #btnAllCon {
    margin-left: 0;
}

#btnAll {
    float: left;
    width: 22px;
}

#btnAllText {
    margin-left: 5px;
    float: left;
}

#btnExp {
    position: relative;
    width: calc(100% - 100px - 142px - 5px);
    overflow: hidden;
    white-space: nowrap;
}

.back-enabled #btnExp {
    width: calc(100% - 200px - 142px - 5px);
}

#btnExp:before {
    content: " ";
    height: 100%;
    width: 10px;
    position: absolute;
    right: 0;
    background: -webkit-linear-gradient(right, $mid_grey, $mid_grey_transparent);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $mid_grey, $mid_grey_transparent);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $mid_grey, $mid_grey_transparent);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, $mid_grey, $mid_grey_transparent);
    /* Standard syntax */
}

#btnExpSym {
    position: absolute;
    left: 5px;
    width: 22px;
    display: inline-block;
}

#nav-title {
    margin-left: 25px;
    float: left;
}

#btnHelp {
    float: right;
    overflow-y: auto;
    margin-right: 20px;
}

#btnHelpSym {
    float: left;
    width: 22px;
}

#btnHelpText {
    margin-left: 5px;
    float: left;
}

#btnExp {
    float: left;
}

#btnMenu {
    margin-right: 20px;
    width: 32px;
    float: right;
}

#btnBackCon:hover *,
#btnAllCon:hover *,
#btnExp:hover *,
#btnMenu:hover,
#btnHelp:hover * {
    text-decoration: none;
    color: white;
}

.page {
    padding: 50px 17.272727% 96px 17.272727%;
    margin: 0;
    background-color: white;
}

/*Absatzformate*/

p {
    color: $darker_grey;
}

h1 {
    padding: 3.5em 0em 1.2em 0em;
    font-size: 3em;
    font-weight: 700;
    line-height: 110%;
    color: $uhh_red;
}

h2 {
    padding: 3.6em 0em 2.8em 0em;
    font-size: 2em;
    line-height: 130%;
    font-weight: 700;
    color: $darker_grey;
}

h3 {
    font-size: 1.6em;
    margin: 1.65em 0em 1.2em 0em;
}

h4 {
    font-size: 1.4em;
    margin: 1.4em 0em 1.2em 0em;
    font-style: italic;
    font-weight: 600;
}

h5 {
    font-size: 1em;
    margin: 0em;
    font-weight: 600;
}

img,
audio {
    max-width: 100%;
    margin: 3em 0px 3em 0px;
}

.abbildung {
    margin: -3em 2em 3em 2em;
    font-size: 0.8em;
    display: block;
}

hr {
    color: $lighter_grey;
    background-color: $lighter_grey;
}

blockquote {
    font-style: italic;
    color: $light_grey;
    border-left: 12px solid $light_grey;
    padding-left: 20px;
    line-height: 130%;
    margin: 2.6em 2em 2.2em 2em;
}

.lit {
    margin: 1em;
    text-indent: -1em;
}

pre {
    background-color: $dark_white;
    padding: 1.8em;
    overflow: auto;
    max-width: 100%;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    max-width: 100%;
}

table th {
    background-color: $lighter_grey;
    text-align: left;
    padding: 0.4em;
}

table td {
    border-bottom: 1px solid $lighter_grey;
    border-collapse: collapse;
    padding: 0.4em;
}

a:link {
    color: $uhh_red;
    text-decoration: none;
}

a:visited {
    color: $uhh_red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* --------------------------------------- CONTENT OVERVIEW ------------------------------------- */

#content-overview p {
    display: none;
}

#content-overview span {
    color: $uhh_red;
    cursor: pointer;
}

#content-overview span:hover {
    text-decoration: underline;
}

.kachel ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    justify-content: flex-start;
}

.kachel ul li {
    position: relative;
    background: $dark_white;
    min-width: 150px;
    max-width: 100%;
    max-width: calc(100% - 10px);
    box-sizing: border-box;
    margin: 5px 5px;
    padding-bottom: 3px;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    word-wrap: break-word;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.kachel ul li ul li {
    padding: 2px;
    border: 1px solid $lighter_grey;
}

.kachel ul li>span,
.kachel ul li>p {
    max-width: 150px;
}

.kachel ul li.wide>* {
    max-width: none;
}

.kachel .sectionRead {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

.kachel .sectionRead.read .img {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 12px;
    height: 12px;
    background: url("../img/haken.svg");
    background-size: 100% 100%;
}

.kachel .sectionRead:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 0px;
    width: 0px;
    border: 15px solid transparent;
    border-top-color: $dark_blue;
    border-right-color: $dark_blue;
}

.kachel span.title {
    color: $mid_grey !important;
    padding: 10px 35px 10px 20px;
    display: inline-block;
}

.kachel span.title:hover {
    text-decoration: none !important;
}

.kachel p {
    display: block !important;
    color: $mid_grey;
    font-weight: normal;
    text-align: left;
    line-height: 120%;
    font-size: 90%;
    margin: 0;
    padding: 10px 20px 15px;
}

.kachel ul li:hover {
    padding-bottom: 0;
    border-bottom: 3px solid $uhh_red;
}

/* ------------------------------------------ TOOLTIPS ------------------------------------------ */

.tooltip {
    display: none;
    background: $lightest_grey;
    padding: 20px 15px 0;
    margin: 5px;
    min-width: 100px;
    min-height: 25px;
    left: calc((100% - 1100px) / 2);
    z-index: 100;
}

.tooltip.right {
    left: auto;
    right: calc((100% - 1100px) / 2);
}

.tooltip #cancel {
    position: relative;
    top: -15px;
    right: -5px;
    margin: 0 0 0 20px;
    float: right;
    font-size: 22px;
    cursor: pointer;
}

.tooltip #next {
    padding: 10px 15px;
    width: auto;
    float: right;
    margin-right: -15px;
    margin-top: 15px;
    margin-bottom: 0;
    background: $dark_grey;
    color: white;
    border: 0;
}

.tooltip #next:hover {
    background: $mid_grey;
}

.tooltip.fixed {
    position: fixed;
}

.tooltip:after {
    bottom: 100%;
    left: 25px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent transparent $lightest_grey;
    border-width: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.tooltip.right:after {
    left: auto;
    right: 25px;
}

/* --------------------------- Exakte Tooltips -------------------------------------- */

#tooltipArrowRight,
#tooltipTouchRight {
    position: fixed;
    top: 9em;
    right: calc(((100% - 1100px) / 2) + (1100px * 0.17272727) - 30px - 20px - 37px);
    /* right: to max 1100px window + page padding - #btnNext.MarginLeft - #btnNext:before.MarginLeft - own padding to fit arrow*/
    margin: 0;
}

#tooltipArrowLeft,
#tooltipTouchLeft {
    position: fixed;
    top: 9em;
    left: calc(((100% - 1100px) / 2) + (1100px * 0.17272727) - 30px - 20px - 37px);
    /* left: to max 1100px window + page padding - #btnPrev.MarginRight - #btnPrev:before.MarginRight - own padding to fit arrow*/
    margin: 0;
}

#tooltipTouchRight,
#tooltipTouchLeft {
    top: 45%;
}

/* ------------------------------------------ HIDEABLES ------------------------------------------ */

.hideable-container {
    margin: 1em 0px 1em;
    overflow: auto;
    width: 95%;
}

.hideable-container .hideable {
    margin-top: 5px;
    background-color: $dark_white;
    padding: 1.8em;
}

/* ------------------------------------------ TABBED BOXES ------------------------------------------ */

.tabs .tab-select {
    display: inline-block;
    padding: 5px 8px;
    color: $light_grey;
    cursor: pointer;
    background-color: $dark_white;
    border-right: 1px solid $lightest_grey;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

.tabs .tab-select:last-child {
    border-right: none;
}

.tabs .tab-select.act {
    background-color: $lightest_grey;
}

.tabbed-box {
    background-color: $lightest_grey;
    padding: 1.8em;
}

/* ------------------------------------------ HOVER INFO ------------------------------------------ */

.hover-info,
.hover-info .title,
.hover-info>div:last-child {
    display: inline;
}

.hover-info .title {
    background: $light_grey;
    color: white;
    padding: 0 3px;
    cursor: pointer;
}

.hover-info .hover-info-block {
    position: absolute;
    background: $light_grey;
    color: white;
    padding: 5px;
}

.hover-info .title .icon-info {
    margin-left: -5px;
    margin-right: -5px;
}

.hover-info>div:last-child:before {
    content: "(";
}

.hover-info>div:last-child:after {
    content: ")";
}

.hover-info div.hide {
    display: none;
}

.hover-info>div.hover-info-block:before,
.hover-info>div.hover-info-block:after {
    content: none;
}

/* ---------------------------------- Blockquotes ---------------------------------- */

blockquote.hint {
    background-color: $dark_white;
    border-left: 12px solid $uhh_red;
    padding: 1em 1em 1em 4em;
    font-style: normal;
}

blockquote.hint:before {
    font-family: 'eLearn-icons';
    font-weight: normal;
    content: "h";
    color: $uhh_red;
    font-size: 3em;
    line-height: 1em;
    margin-top: 0.2em;
    margin-left: -1.2em;
    float: left;
}

blockquote.hint p:first-line {
    color: $uhh_red;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5em;
}

blockquote.task {
    border-left: 12px solid $light_grey;
    padding: 1em 1em 1em 4em;
    font-style: normal;
}

blockquote.task:before {
    font-family: 'eLearn-icons';
    font-weight: normal;
    content: "t";
    color: $light_grey;
    font-size: 3em;
    line-height: 1em;
    margin-top: 0.2em;
    margin-left: -1.2em;
    float: left;
}

blockquote.links {
    border-left: 12px solid $light_grey;
    padding: 1em 1em 1em 4em;
    font-style: normal;
}

blockquote.links:before {
    font-family: 'eLearn-icons';
    font-weight: normal;
    content: "l";
    color: $light_grey;
    font-size: 3em;
    line-height: 1em;
    margin-top: 0.2em;
    margin-left: -1.2em;
    float: left;
}

/* ------------------------------------ Anderes ------------------------------------ */

.navbar {
    position: relative;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 5px;
    background-color: $dark_white;
}

.section-overview {
    overflow-y: auto;
    display: none;
    position: fixed;
    width: 1100px;
    max-width: 100%;
    height: 100%;
    background: $black_half_transparent;
    z-index: 10;
}

.section-overview div {
    max-height: calc(80% - 45px);
}

.section-overview-element,
.side-menu-element {
    color: $light_grey;
    background-color: $dark_white;
    text-align: left;
    padding: 5px 0 5px 130px;
}

.section-overview-element.sub {
    padding: 5px 0 5px 150px;
}

.section-overview-element.subsub {
    padding: 5px 0 5px 170px;
}

.section-overview-element.active {
    border-left: 3px solid $uhh_red;
    background: $lightest_grey;
    padding: 5px 0 5px 127px;
}

.section-overview-element.active.sub {
    padding: 5px 0 5px 147px;
}

.section-overview-element.active.subsub {
    padding: 5px 0 5px 167px;
}

.section-overview-element:hover,
.side-menu-element:hover {
    background: $lightest_grey;
}

.touchScroll {
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    color: white;
}

.touchScroll div {
    box-shadow: 0 0 5px $black_half_transparent;
    position: relative;
    top: calc(50% - 25px);
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.touchScroll#rightTouch div {
    left: 0;
    float: left;
}

.touchScroll#leftTouch div {
    right: 0;
    float: right;
}

.touchScroll div p {
    position: relative;
    top: 11px;
    margin: 0;
    width: 50px;
    font-family: eLearn-icons;
    text-align: center;
    font-size: 35px;
    color: $light_grey;
}

.menu-wrap {
    pointer-events: none;
    fill: none;
    position: fixed;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    z-index: 10;
    overflow-x: hidden;
}

.side-menu {
    pointer-events: all;
    height: 100%;
    background-color: $dark_white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 200px;
    max-width: 40%;
    z-index: 10;
    color: $light_grey;
    box-shadow: 0 0 10px $black_half_transparent;
}

.side-menu-element {
    width: calc(100% - 35px);
    padding: 10px 15px 10px 20px;
    cursor: pointer;
    font-size: 150%;
}

.side-menu table {
    width: 100%;
    table-layout: fixed;
}

.side-menu table td:nth-child(1) {
    width: 54px;
    text-align: center;
}

.side-menu table td:nth-child(2) {
    word-wrap: break-word;
}

#progressback {
    position: relative;
    height: 3px;
    width: 100%;
    background-color: $lightest_grey;
}

#progressbar {
    height: 100%;
    width: 0%;
    background-color: $uhh_red;
    position: relative;
}

button {
    margin: 0.2em;
    padding: 0.5em 0.5em 0.5em 1.3em;
    border: 1px solid $lightest_grey;
    background-color: $dark_white;
    color: $light_grey;
    text-align: left;
    width: 50%;
    width: calc(50% - 0.4em);
}

button:hover,
button:active {
    background: $lightest_grey;
}

/*Diverses*/

.literatur p {
    margin-left: 2em;
    text-indent: -2em;
}

.logo {
    width: 12em;
    margin-left: 2em;
}

.license img {
    width: 6em;
    margin-left: 2em;
}

.btn {
    cursor: pointer;
}

.skip-arrows {
    position: fixed;
    height: 100%;
    width: 1100px;
    max-width: 100%;
    pointer-events: none;
}

#btnNext,
#btnPrev {
    color: $lighter_grey;
    position: absolute;
    height: 100%;
    width: 75px;
    width: calc(17.272727% - 75px);
    /* page padding - own margin*/
    pointer-events: all;
}

#btnNext:hover,
#btnPrev:hover {
    color: $mid_grey;
}

#btnPrev {
    margin: 0 30px 0 45px;
    text-align: right;
}

#btnNext {
    right: 0;
    margin: 0 45px 0 30px;
    text-align: left;
}

#btnNext:before,
#btnPrev:before {
    position: relative;
    top: 3.3em;
    margin: 20px;
}

/*Icons*/

.icon-font {
    font-family: eLearn-icons;
}

.icon-next:before {
    font-family: eLearn-icons;
    font-size: 1.8em;
    content: "n";
}

.icon-back:before {
    font-family: eLearn-icons;
    font-size: 1.8em;
    content: "b";
}

.icon-menue:before {
    font-family: eLearn-icons;
    font-size: 1em;
    content: "m";
}

.icon-show:before {
    font-family: eLearn-icons;
    font-size: 1em;
    content: "s";
}

.icon-expand:before {
    font-family: eLearn-icons;
    font-size: 1em;
    content: "c";
}

.icon-print:before {
    font-family: eLearn-icons;
    font-size: 1em;
    content: "p";
}

.icon-info:before {
    font-family: eLearn-icons;
    font-size: 1em;
    content: "i";
}

.icon-question:before {
    font-family: eLearn-icons;
    font-size: 1em;
    content: "q";
}

.icon-zoom:before {
    font-family: eLearn-icons;
    font-size: 1em;
    content: "z";
}

.icon-right:before {
    font-family: eLearn-icons;
    font-size: 1em;
    content: "r";
}

.icon-wrong:before {
    font-family: eLearn-icons;
    font-size: 1em;
    content: "w";
}

.icon-share:before {
    font-family: eLearn-icons;
    font-size: 1em;
    content: "a";
}

.icon-zip:before {
    font-family: eLearn-icons;
    font-size: 1em;
    content: "x";
}

.icon-pdf:before {
    font-family: eLearn-icons;
    font-size: 1em;
    content: "f";
}

.icon-epub:before {
    font-family: eLearn-icons;
    font-size: 1em;
    content: "e";
}

.before-padding:before {
    padding: 10px;
}

.mirrorY {
    transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    display: inline-block;
}

/*
QR Overlay
*/

#qr_overlay {
    display: none;
    position: fixed;
    max-width: 1100px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: $black_half_transparent;
}

#qrcode {
    position: absolute;
    top: 96px;
    left: calc(50% - 128px);
    border: 5px solid white;
    background-color: white;
    line-height: 0;
}

/*Lightbox*/

.lb-wrap {
    display: none;
    position: fixed;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    background: $black_half_transparent;
    z-index: 10;
}

.lightbox {
    max-width: 80%;
    min-width: 50%;
    overflow-y: auto;
    margin: auto;
    background: white;
    max-height: calc(100% - 120px);
    margin-top: 60px;
    border: 1px solid $lighter_grey;
    -webkit-box-shadow: 0px 0px 25px 0px $black_half_transparent;
    -moz-box-shadow: 0px 0px 25px 0px $black_half_transparent;
    box-shadow: 0px 0px 25px 0px $black_half_transparent;
}

#info .info-wrapper {
    padding: 10px 20px 10px;
}

#info .elearn-info {
    margin-top: 20px;
    font-size: 80%;
    background: $lightest_grey;
    padding: 10px 20px 10px;
}

#info .support {
    padding: 10px 20px 10px;
}

#info .support img {
    width: auto;
    float: right;
    margin: 0;
}

#info .support .img {
    float: right;
    margin: 0;
}

#info .support .img.logo-uhh {
    margin: 2em 1em 1em 1em;
    display: inline-block;
    width: 213px;
    height: 69px;
    background: url("../img/logo-uhh.gif");
    background-repeat: no-repeat;
}

/* -------------------------- Bilder Galerie -------------------------- */

div.slider-con {
    position: relative;
    padding: 20px 60px 20px;
    background: $light_grey;
    border-radius: 5px;
    margin: 1em 0 0;
}

div.preview-con {
    position: relative;
    padding: 10px 60px 10px;
    background: $dark_grey;
    border-radius: 0 0 5px 5px;
    margin: -5px 0 1em;
}

div.slider,
div.slider-nav {
    overflow: hidden;
    position: relative;
    /*border: 3px solid $lightest_grey;
    border-radius: 5px; */
    background: $light_grey;
}

div.slider-nav {
    margin: 0;
    background: $dark_grey;
}

ul.img-gallery {
    font-size: 0;
    margin: 0;
    padding: 0;
    display: block;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

ul.img-gallery:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.img-gallery p {
    display: none;
}

ul.img-gallery li {
    list-style: none;
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    white-space: nowrap;
    margin-right: 2px;
}

ul.img-gallery li>* {
    position: relative;
    margin: auto;
    max-width: 100%;
    width: auto;
    vertical-align: middle;
}

div.slider-nav ul.img-gallery li {
    border-right: 5px solid $dark_grey;
    box-sizing: border-box;
    opacity: 0.5;
    overflow: hidden;
    cursor: pointer;
}

div.slider-nav ul.img-gallery li img {
    max-width: none;
}

div.slider-nav ul.img-gallery li:hover {
    opacity: 0.8;
}

div.slider-nav ul.img-gallery li.active {
    opacity: 1;
}

div.slider-con:hover .slider-zoom {
    right: 15px;
    opacity: 1;
}

/*
div.slider-con:hover .slider-back-area, div.preview-con:hover .slider-back-area,
    div.slider-con:hover .slider-next-area, div.preview-con:hover .slider-next-area, */

div.slider-con:hover .slider-zoom-area {
    opacity: 1;
}

.slider-back,
.slider-next,
.slider-zoom {
    transition-duration: 0.25s;
    position: absolute;
    top: 50%;
    margin-top: -0.8em;
    color: $white_light_transparent;
}

.slider-back-area,
.slider-next-area,
.slider-zoom-area {
    opacity: 1;
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    transition-duration: 0.25s;
}

.slider-back-area:hover .slider-back,
.slider-next-area:hover .slider-next,
.slider-zoom-area:hover .slider-zoom {
    color: white;
}

.slider-back {
    left: 15px;
    opacity: 1;
}

.slider-next {
    right: 15px;
    opacity: 1;
}

.slider-back-area {
    left: 0;
}

.slider-next-area {
    right: 0;
}

.slider-zoom {
    margin-top: -0.4em;
    right: -15px;
    opacity: 0;
    font-size: 180%;
}

.slider-zoom-area {
    right: 5px;
    width: 40px;
    height: 40px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.slider-description {
    display: none;
    position: relative;
    color: white;
    background: $light_grey;
    margin: -5px 0 0;
    text-align: left;
    padding: 10px 60px 10px;
    border-radius: 0 0 5px 5px;
    border-bottom: 15px solid $light_grey;
}

/* BIDLER LIGHTBOX */

.image-zoom-container {
    display: none;
}

.img-lightbox {
    position: absolute;
    width: 100%;
    max-height: 100%;
    padding: 40px;
    box-sizing: border-box;
    z-index: 10;
    text-align: center;
    pointer-events: none;
    white-space: nowrap;
}

.img-lightbox * {
    pointer-events: all;
}

.img-lightbox img {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    width: auto;
    max-width: 100%;
}

.lb-bg {
    position: fixed;
    top: 0;
    background: black;
    opacity: 0.5;
    height: 200%;
    width: 200%;
    z-index: 9;
}

.img-lightbox .close {
    position: absolute;
    color: $white_light_transparent;
    text-shadow: -1px 0 2px $black_half_transparent, 0 1px 2px $black_half_transparent, 1px 0 2px $black_half_transparent, 0 -1px 2px $black_half_transparent;
    text-align: center;
    z-index: 1;
    font-size: 150%;
}

.img-lightbox .close:hover {
    color: white;
}

/*Media-Querys für Responsivität*/

@media screen and (max-width: 1100px) {
    .tooltip {
        left: 0;
    }
    .tooltip.right {
        right: 0;
    }
    #tooltipArrowRight,
    #tooltipTouchRight {
        right: calc(17.272727% - 30px - 20px - 37px);
        /* right: page padding - #btnNext.MarginLeft - #btnNext:before.MarginLeft - own padding to fit arrow*/
    }
    #tooltipArrowLeft,
    #tooltipTouchLeft {
        left: calc(17.272727% - 30px - 20px - 37px);
        /* left: page padding - #btnPrev.MarginRight - #btnPrev:before.MarginRight - own padding to fit arrow*/
    }
}

@media screen and (max-width: 940px) {
    .page {
        padding: 45px 13% 68px 13%;
    }
    #navigation {
        font-size: 0.8em;
    }
    #btnNext,
    #btnPrev {
        width: calc(13% - 45px);
        /* page padding - something as margin*/
    }
    #btnNext:before,
    #btnPrev:before {
        margin: 10px;
    }
    #btnPrev {
        margin: 0 20px 0 25px;
    }
    #btnNext {
        margin: 0 25px 0 20px;
    }
    #tooltipArrowRight,
    #tooltipTouchRight {
        right: calc(13% - 20px - 10px - 37px);
        /* right: page padding - #btnNext.MarginLeft - #btnNext:before.MarginLeft - own padding to fit arrow*/
    }
    #tooltipArrowLeft,
    #tooltipTouchLeft {
        left: calc(13% - 20px - 10px - 37px);
        /* left: page padding - #btnPrev.MarginRight - #btnPrev:before.MarginRight - own padding to fit arrow*/
    }
    .side-menu {
        max-width: 50%;
    }
}

@media screen and (max-width: 800px) {
    body {
        font-size: 87.5%;
    }
    #navigation {
        font-size: 0.8em;
    }
    .page {
        padding: 45px 8.5% 68px 8.5%;
    }
    h1 {
        padding: 2.8em 0em 1em 0em;
        font-size: 2.6em;
    }
    h2 {
        padding: 1.95em 0em 1.1em 0em;
        font-size: 1.9em;
    }
    h3 {
        font-size: 1.4em;
        margin: 1em 0em 0.8em 0em;
    }
    h4 {
        font-size: 1.2em;
        margin: 1em 0em 0.8em 0em;
    }
    #btnNext,
    #btnPrev {
        width: calc(8.5% - 15px);
        /* page padding - something as margin*/
    }
    #btnNext:before,
    #btnPrev:before {
        top: 3.5em;
        margin: 0;
    }
    #btnPrev {
        font-size: 70%;
        margin: 0 15px 0 0;
    }
    #btnNext {
        font-size: 70%;
        margin: 0 0 0 15px;
    }
    #tooltipArrowRight,
    #tooltipArrowLeft {
        top: 7em;
    }
    #tooltipArrowRight,
    #tooltipTouchRight {
        right: calc(8.5% - 15px - 0px - 22px);
        /* right: page padding - #btnNext.MarginLeft - #btnNext:before.MarginLeft - own padding to fit arrow*/
    }
    #tooltipArrowLeft,
    #tooltipTouchLeft {
        left: calc(8.5% - 15px - 0px - 22px);
        /* left: page padding - #btnPrev.MarginRight - #btnPrev:before.MarginRight - own padding to fit arrow*/
    }
    .side-menu {
        max-width: 65%;
    }
    div.slider-con,
    div.preview-con {
        padding: 20px 50px 20px;
    }
    div.slider-con .slider-back,
    div.preview-con .slider-back {
        left: 12px;
        opacity: 1;
    }
    div.slider-con .slider-next,
    div.preview-con .slider-next {
        right: 12px;
        opacity: 1;
    }
    .slider-back-area,
    .slider-next-area {
        width: 50px;
    }
    .img-lightbox {
        padding: 40px 20px;
    }
    .section-overview-element {
        padding: 5px 0 5px 125px;
    }
    .section-overview-element.sub {
        padding: 5px 0 5px 145px;
    }
    .section-overview-element.subsub {
        padding: 5px 0 5px 165px;
    }
    .section-overview-element.active {
        padding: 5px 0 5px 122px;
    }
    .section-overview-element.active.sub {
        padding: 5px 0 5px 142px;
    }
    .section-overview-element.active.subsub {
        padding: 5px 0 5px 162px;
    }
    .tabbed-box,
    .hideable-container .hideable {
        padding: 1.4em;
    }
}

@media screen and (max-width: 440px) {
    body {
        font-size: 81.4%;
    }
    #navigation {
        font-size: 1em;
    }
    .page {
        padding: 45px 4% 30px 4%;
    }
    h1 {
        padding: 3.4em 0em 1em 0em;
        font-size: 1.96em;
    }
    h2 {
        padding: 1.95em 0em 1.1em 0em;
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.36em;
        margin: 1em 0em 0.8em 0em;
    }
    h4 {
        font-size: 1.2em;
        margin: 1em 0em 0.8em 0em;
    }
    #btnNext,
    #btnPrev {
        display: none !important;
    }
    #tooltipArrowRight,
    #tooltipTouchRight {
        right: 0;
        /* right: page padding - #btnNext.MarginLeft - #btnNext:before.MarginLeft - own padding to fit arrow*/
    }
    #tooltipArrowLeft,
    #tooltipTouchLeft {
        left: 0;
        /* left: page padding - #btnPrev.MarginRight - #btnPrev:before.MarginRight - own padding to fit arrow*/
    }
    .side-menu {
        max-width: 85%;
    }
    div.slider-con,
    div.preview-con {
        padding: 20px 40px 20px;
    }
    div.slider-con .slider-back,
    div.preview-con .slider-back {
        left: 10px;
        opacity: 1;
    }
    div.slider-con .slider-next,
    div.preview-con .slider-next {
        right: 10px;
        opacity: 1;
    }
    .slider-back-area,
    .slider-next-area {
        width: 40px;
    }
    .img-lightbox {
        padding: 20px 10px;
    }
    .section-overview-element {
        padding: 5px 0 5px 82px;
    }
    .section-overview-element.sub {
        padding: 5px 0 5px 92px;
    }
    .section-overview-element.subsub {
        padding: 5px 0 5px 102px;
    }
    .section-overview-element.active {
        padding: 5px 0 5px 79px;
    }
    .section-overview-element.active.sub {
        padding: 5px 0 5px 89px;
    }
    .section-overview-element.active.subsub {
        padding: 5px 0 5px 99px;
    }
    #btnBackText,
    #btnAllText,
    #btnHelpText {
        display: none;
    }
    #btnExp {
        width: calc(100% - 142px - 5px);
    }
    .back-enabled #btnExp {
        width: calc(100% - 180px - 5px);
    }
    #btnHelp {
        margin-right: 0;
    }
    .tabbed-box,
    .hideable-container .hideable {
        padding: 0.8em;
    }
}

@media print {
    body {
        font-size: 78%;
    }
    .page {
        padding: 45px 8.5% 68px 8.5%;
    }
    #navigation {
        display: none !important;
    }
    .skip-arrows {
        display: none !important;
    }
    section {
        page-break-before: always;
    }
    section:first-of-type {
        page-break-before: avoid;
    }
    code {
        white-space: pre-wrap;
    }
    .slider {
        max-height: none !important;
        height: auto !important;
        background: 0 !important;
    }
    .slider-con {
        max-height: none !important;
        padding: 0 !important;
        border-radius: 0 !important;
        background: 0 !important;
    }
    .slider-con .btn {
        display: none;
    }
    .slider-con .slider {
        max-height: none !important;
        height: auto !important;
        background: 0 !important;
    }
    .slider-con ul.img-gallery {
        font-size: 10pt;
        max-height: none !important;
        list-style: none !important;
        transition-duration: 0s !important;
        margin-left: 0 !important;
        width: auto !important;
        transform: none !important;
    }
    .slider-con ul.img-gallery li {
        max-height: none !important;
        width: auto !important;
        height: auto !important;
        max-width: 100% !important;
        margin-bottom: 15px;
    }
    .slider-con ul.img-gallery li.loop_clone {
        display: none !important;
    }
    .slider-con ul.img-gallery li p {
        display: block !important;
        white-space: normal !important;
    }
    .slider-description,
    .preview-con {
        display: none !important;
    }
    ul.img-gallery {
        font-size: 10pt;
        padding: 0 20%;
        max-height: none !important;
        list-style: none !important;
        transition-duration: 0s !important;
        margin-left: 0 !important;
        width: auto !important;
        transform: none !important;
    }
    ul.img-gallery li {
        max-height: none !important;
        width: auto !important;
        height: auto !important;
        max-width: 100% !important;
        margin: 25px 0;
    }
    ul.img-gallery li.loop_clone {
        display: none !important;
    }
    ul.img-gallery li img {
        margin-bottom: 0 !important;
    }
    ul.img-gallery li p {
        display: block !important;
        white-space: normal !important;
        width: 100% !important;
        text-align: center !important;
        margin-bottom: 2em !important;
    }
}
