/*
* CSS for eLearn.js
* Created by Michael Heinecke
* Improved by Arne Westphal
* eLearning-office MIN, Universität Hamburg
* v0.9.7 16/12/21 cc-by-sa
*/


/*Einbindung der benötigtren Schriften*/

@font-face {
    font-family: 'eLearn-Icons';
    font-style: normal;
    font-weight: normal;
    src: url('../font/eLearn-Icons.woff') format('woff');
}

@font-face {
    font-family: 'eLearn-Video';
    font-style: normal;
    font-weight: normal;
    src: url('../font/eLearn-Video.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../font/OpenSans-Regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../font/OpenSans-Bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../font/OpenSans-Italic-webfont.woff') format('woff');
}

/*Seitenaufbau*/

body {
    font-family: Open Sans, sans-serif;
    line-height:164%;
    background-color: rgb(214,214,214);
    font-size:93.75%;
    margin:0;
    margin:auto;
}

iframe, video {
    max-width: 100%;
}

#wrap {
    min-height:100%;
    vertical-align:center;
    max-width: 1100px;
    margin:0em auto 0em auto;
}

#navigation {
    position:fixed;
    vertical-align:center;
    width:1100px;
    max-width: 100%;
    margin:0em auto 0em auto;
    text-align:left;
    font-size:0.8em;
    color:rgb(204,204,204);
    z-index: 5;
}

#nav-bar {
    z-index:5;
    padding-top:0.6em;
    padding-bottom:0.6em;
    background-color:rgb(102,102,102);
    height: auto;
}

#nav-bar .btn {
    padding: 5px;
    margin-top: -5px;
}

#btnBack,#btnAll,#btnExpSym,#btnMenu, #btnHelpSym {
    color: rgb(204,204,204);
    font-size: 180%;
    display: inline-block;
}

#btnBackCon {
    display: none;
}

.back-enabled #btnBackCon {
    float: left;
    display: inline-block;
    overflow-y: auto;
    margin-left: 20px;
}

.back-enabled #btnBack {
    float: left;
    width: 22px;
    display:inline-block;
}

.back-enabled #btnBackText {
    margin-left: 5px;
    float: left;
}

#btnAllCon {
    float: left;
    display: inline-block;
    overflow-y: auto;
    margin-left: 20px;
}

.back-enabled #btnAllCon {
    margin-left: 0;
}

#btnAll {
    float: left;
    width: 22px;
    display:inline-block;
}

#btnAllText {
    margin-left: 5px;
    float: left;
}

#btnExp {
    position: relative;
    width: calc(100% - 100px - 142px - 5px);
    overflow:hidden;
    white-space:nowrap;
}

.back-enabled #btnExp {
    width: calc(100% - 200px - 142px - 5px);
}

#btnExp:before {
    content: " ";
    height: 100%;
    width: 10px;
    position: absolute;
    right: 0;
    background: -webkit-linear-gradient(right, #666666, rgba(102, 102, 102, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #666666, rgba(102, 102, 102, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #666666, rgba(102, 102, 102, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #666666, rgba(102, 102, 102, 0)); /* Standard syntax */
}

#btnExpSym {
    position: absolute;
    left: 5px;
    width: 22px;
    display: inline-block;
}

#nav-title {
    margin-left: 25px;
    float:left;
}

#btnHelp {
    float: right;
    display: inline-block;
    overflow-y: auto;
    margin-right: 20px;
}

#btnHelpSym {
    float: left;
    width: 22px;
    display:inline-block;
}

#btnHelpText {
    margin-left: 5px;
    float: left;
}

#btnExp {
    float: left;
}

#btnMenu {
    margin-right:20px;
    width: 22px;
    float: right;
}

#btnBackCon:hover *, #btnAllCon:hover *, #btnExp:hover *, #btnMenu:hover,
#btnHelp:hover * {
    text-decoration: none;
    color: #fff;
}

.page {
    padding: 50px 17.272727% 96px 17.272727%;
    margin:0;
    background-color: #fff;
}

/*Absatzformate*/

p {
    color:rgb(51,51,51);
}
h1 {
    padding:3.5em 0em 1.2em 0em;
    font-size: 3em;
    font-weight: 700;
    line-height:110%;
    color:#e2001a;
}
h2 {
    padding:3.6em 0em 2.8em 0em;
    font-size:2em;
    line-height:130%;
    font-weight: 700;
    color:rgb(51,51,51);
}
h3 {
    font-size:1.6em;
    margin: 1.65em 0em 1.2em 0em;
}
h4 {
    font-size:1.4em;
    margin: 1.4em 0em 1.2em 0em;
    font-style:italic;
    font-weight:600;
}

h5 {
    font-size:1em;
    margin: 0em;
    font-weight:600;
}

img, .elearnjs-video, audio{
    max-width:100%;
    margin:3em 0px 3em 0px;
}

.abbildung {
    margin: -3em 2em 3em 2em;
    font-size:0.8em;
    display:block;
}

hr {
    color:#b4b4b4;
    background-color:#b4b4b4;
}
blockquote {
    font-style:italic;
    color:#888;
    border-left:12px solid #888;
    padding-left:20px;
    line-height:130%;
    margin:2.6em 2em 2.2em 2em;
}

.lit {
    margin:1em;
    text-indent:-1em;
}

pre {
    background-color: #eee;
    padding:1.8em;
    overflow:auto;
    width:95%;
}

table {
    border-collapse: collapse;
    max-width: 100%;
}

table th {
    background-color: #b4b4b4;
    text-align:left;
    padding:0.4em;
}

table td{
    border-bottom:1px solid #b4b4b4;
    border-collapse: collapse;
    padding:0.4em;
}

a:link {
    color: #e2001a;
    text-decoration:none;
}
a:visited {
    color: #e2001a;
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}


/* --------------------------------------- VIDEOS ------------------------------------- */

/* Apple player hide */

.elearnjs-video video::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

.elearnjs-video video::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

.elearnjs-video video::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.elearnjs-video {
    position: relative;
    cursor: none;
    line-height: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.elearnjs-video.full {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    margin:0;
    padding: 0;
    background: #000;
}
.elearnjs-video.full video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: #000;
}

.elearnjs-video > * {
    max-width: 100%;
}

.elearnjs-video.hovered {
    cursor: pointer;
}

.elearnjs-video .controls {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    transition: opacity 0.2s ease-out;

    background: #222222; /* For browsers that do not support gradients */
    background: rgba(0,0,0, 0.7); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, black); /* Standard syntax */
}

.elearnjs-video.hovered .controls {
    pointer-events: auto;
    opacity: 1;
}

.elearnjs-video .controls > * {
    display: inline-block;
    height: 24px;
    line-height: 24px;
}

/* PROGRESSBAR */

.elearnjs-video .controls .video-progress-con {
    position: relative;
    vertical-align: bottom;
    margin: 5px 5px;
    max-width:100%;
}


.elearnjs-video .controls .video-progress {
    position: absolute;
    cursor: pointer;
    top: 10px; /* (24Height - 4Height) / 2 */
    width: 100%;
    height: 4px;
    transition: 0.1s ease-out;
    background: #888;
    background: rgba(200, 200, 200, 0.5);
}

.elearnjs-video .controls .video-progress-con:hover .video-progress {
    height: 8px;
    top: 8px; /* (24Height - 8Height) / 2 */
}


.elearnjs-video .controls .video-progress-con .video-progress-bar,
.elearnjs-video .controls .video-progress-con .video-progress-loaded,
.elearnjs-video .controls .video-progress-con .video-progress-hover {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
}

.elearnjs-video .controls .video-progress-con .video-progress-bar
{
    background: #e2001a;
    background: rgba(226, 0, 26, 0.95);
    transition: 0.2s ease-out;
}

.elearnjs-video .controls .video-progress-con .video-progress-loaded {
    background: #b4b4b4;
    background: rgba(200, 200, 200, 0.3);
}

.elearnjs-video .controls .video-progress-con .video-progress-hover {
    background: #888;
    background: rgba(200, 200, 200, 0.2);
}


.elearnjs-video .progress-hover-time {
    position: absolute;
    bottom: 40px;
    font-size: 12px;
    line-height: 12px;
    padding: 3px 5px;
    background: #222222;
    color: white;
    border-radius: 3px;
}


/* TEXT AND ICONS IN CONTROLS */

.elearnjs-video .controls .icon, .elearnjs-video .controls .text {
    margin: 5px;
    color: white;
    line-height: 24px;
}

.elearnjs-video .icon {
    font-family: eLearn-video;
    text-align: center;
    color: white;
    font-size: 13pt;
    line-height: 100%;
}

.elearnjs-video .icon:before {
    width: 100%;
    line-height: 24px;
}

.elearnjs-video .icon:hover {
    color: #e2001a;
}

.elearnjs-video .controls .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    vertical-align: bottom;
}

.elearnjs-video .controls .text {
    cursor: default;
    text-align: center;
}

/* PLAY PAUSE */
.elearnjs-video .controls .icon.playpause.playing:before {
    content: '\e903';
}
.elearnjs-video .controls .icon.playpause.paused:before {
    content: '\e905';
}

/* FULLSCREEN */
.elearnjs-video .controls .icon.fullscreen:before {
    content: '\e902';
}
.elearnjs-video.full .controls .icon.fullscreen:before {
    content: '\e901';
}

/* SOUND */
.elearnjs-video .controls .icon.volume.mute:before {
    content: '\e906';
}
.elearnjs-video .controls .icon.volume.low:before {
    content: '\e907';
}
.elearnjs-video .controls .icon.volume.medium:before {
    content: '\e908';
}
.elearnjs-video .controls .icon.volume.high:before {
    content: '\e909';
}




/* PLAY OVERLAY (before starting) + MOBILE*/

.elearnjs-video .play-overlay,
.elearnjs-video .mobile-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    background: rgba(0,0,0,0.2);
}

.elearnjs-video .play-overlay + .controls {
    display: none;
}

.elearnjs-video .play-overlay .play,
.elearnjs-video .mobile-overlay .playpause {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
}

.elearnjs-video .mobile-overlay {
    display: none;
}

.elearnjs-video.mobile .mobile-overlay {
    display: block;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-out;
}

.elearnjs-video.mobile.hovered .mobile-overlay {
    opacity: 1;
    pointer-events: auto;
}

.elearnjs-video.mobile .controls .playpause {
    display: none;
}

.elearnjs-video.mobile .mobile-overlay .icon,
.elearnjs-video .play-overlay .play {
    font-size: 48pt;
    color: white;
    line-height: 80px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.elearnjs-video.mobile .mobile-overlay .icon:hover,
.elearnjs-video .play-overlay .play:hover {
    font-size: 50pt;
}

.elearnjs-video .mobile-overlay .icon.playpause.playing:before {
    content: '\e904';
}
.elearnjs-video .mobile-overlay .icon.playpause.paused:before,
.elearnjs-video .play-overlay .play:before {
    content: '\e900';
}

/* --------------------------------------- CONTENT OVERVIEW ------------------------------------- */

#content-overview p {
    display: none;
}

#content-overview span {
    color: #e2001a;
    cursor: pointer;
}

#content-overview span:hover {
    text-decoration: underline;
}

.kachel ul {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.kachel ul li {
    position: relative;
    background: #e7e7e7;
    min-width: 150px;
    margin: 5px 5px;
    padding-bottom: 3px;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    word-wrap: break-word;
}

.kachel ul li ul li {
    padding: 2px;
    border: 1px solid #cecece;
}

/*
.kachel ul li ul li ul li {
    border: #cecece;
}
*/

.kachel ul li > span, .kachel ul li > p {
    max-width: 150px;
}

.kachel ul li.wide > * {
    max-width: none;
}

.kachel .sectionRead {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

.kachel .sectionRead.read .img {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 12px;
    height: 12px;
    background: url('../img/haken.svg');
    background-size: 100% 100%;
}

.kachel .sectionRead:before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 0px;
    width: 0px;
    border: 15px solid transparent;
    border-top-color: #3c4c60;
    border-right-color: #3c4c60;
}

.kachel span.title {
    color: #666 !important;
    padding: 10px 35px 10px 20px;
    display: inline-block;
}

.kachel span.title:hover {
    text-decoration: none !important;
}

.kachel p {
    display: block !important;
    color: #666;
    font-weight: normal;
    text-align: left;
    line-height: 120%;
    font-size: 90%;
    margin: 0;
    padding: 10px 20px 15px;
}

.kachel ul li:hover {
    padding-bottom: 0;
    border-bottom: 3px solid #e2501a;
}



/* ------------------------------------------ TOOLTIPS ------------------------------------------ */

.tooltip {
    display: none;
    background: #dcdcdc;
    padding: 20px 15px 0;
    margin: 5px;
    min-width: 100px;
    min-height: 25px;
    left: calc((100% - 1100px) / 2);
    z-index: 100;
}

.tooltip.right {
    left: auto;
    right: calc((100% - 1100px) / 2);
}

.tooltip #cancel {
    position: relative;
    display: inline-block;
    top: -15px;
    right: -5px;
    margin: 0 0 0 20px;
    float: right;
    font-size: 22px;
    cursor: pointer;
}

.tooltip #next {
    padding: 10px 15px;
    width: auto;
    float: right;
    margin-right: -15px;
    margin-top: 15px;
    background: #444;
    color: #fff;
    border: 0;
}

.tooltip #next:hover {
    background: #666;
}

.tooltip.fixed {
    position: fixed;
}

.tooltip:after {
    bottom: 100%;
    left: 25px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent transparent #dcdcdc;
    border-width: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.tooltip.right:after {
    left: auto;
    right: 25px;
}

/* --------------------------- Exakte Tooltips -------------------------------------- */

#tooltipArrowRight {
    position: fixed;
    top: 13em;
    right: calc((100% - 1100px) / 2 + 66px);
    margin: 0;
}

#tooltipArrowLeft {
    position: fixed;
    top: 13em;
    left: calc((100% - 1100px) / 2 + 66px);
    margin: 0;
}


/* ------------------------------------------ HIDEABLES ------------------------------------------ */

.hideable-container {
    margin: 1em 0px 1em;
    overflow: auto;
    width: 95%;
}

.hideable-container .hideable {
    margin-top: 5px;
    background-color: #eee;
    padding: 1.8em;
}


/* ------------------------------------------ TABBED BOXES ------------------------------------------ */

.tabs .tab-select {
    display: inline-block;
    padding: 5px 8px;
    color: #888;
    cursor: pointer;
    background-color: #eee;
}

.tabs .tab-select.act {
    background-color: #dcdcdc;
}

.tabbed-box {
    background-color: #dcdcdc;
    padding: 1.8em;
}

/* ------------------------------------------ THOVER INFO ------------------------------------------ */

.hover-info,
.hover-info .title,
.hover-info > div:last-child {
    display: inline;
}

.hover-info .title {
    background: #888;
    color: #fff;
    padding: 0 3px;
    cursor: pointer;
}

.hover-info .hover-info-block {
    position: absolute;
    background: #888;
    color: #fff;
    padding: 5px;
}

.hover-info .title .icon-info {
    margin-left: -5px;
    margin-right: -5px;
}

.hover-info > div:last-child:before {
    content: "(";
}

.hover-info > div:last-child:after {
    content: ")";
}

.hover-info div.hide {
    display: none;
}

.hover-info > div.hover-info-block:before,
.hover-info > div.hover-info-block:after {
    content: none;
}


/* ------------------------------------ Anderes ------------------------------------ */

.navbar {
    position:relative;
    text-align: left;
    margin-top:12px;
    margin-bottom:5px;
    background-color: rgb(240,240,240);
}

.section-overview {
    overflow-y: auto;
    display:none;
    position: fixed;
    width:1100px;
    max-width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

.section-overview div {
    max-height: calc(80% - 45px);
}

.section-overview-element, .side-menu-element {
    width: calc(100% - 130px);
    color: rgb(140,140,140);
    background-color: rgb(240,240,240);
    text-align: left;
    padding: 5px 0 5px 130px;
}

.section-overview-element.sub {
    width: calc(100% - 150px);
    padding: 5px 0 5px 150px;
}

.section-overview-element.subsub {
    width: calc(100% - 170px);
    padding: 5px 0 5px 170px;
}


.section-overview-element.active {
    border-left: 3px solid #e2001a;
    background:rgb(220,220,220);
    padding: 5px 0 5px 127px;
}

.section-overview-element.active.sub {
    padding: 5px 0 5px 147px;
}

.section-overview-element.active.subsub {
    padding: 5px 0 5px 167px;
}

.section-overview-element:hover,  .side-menu-element:hover {
    background:rgb(220,220,220);
}

.touchScroll{
    height:100%;
    /* background-color: #dcdcdc; */
    position:fixed;
    top:0;
    z-index:10;
    color:#ffffff;
    /* border:1px solid #888888; */
}

.touchScroll div {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    position:relative;
    top: calc(50% - 25px);
    margin: auto;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.touchScroll div p{
    position: relative;
    top:11px;
    margin: 0;
    width: 50px;
    font-family: eLearn-icons;
    text-align:center;
    font-size:35px;
    color:#888;
}


.menu-wrap {
    pointer-events: none;
    fill:none;
    position:fixed;
    width:100%;
    max-width:1100px;
    height:100%;
    margin:auto;
    z-index:10;
    overflow-x:hidden;
}

.side-menu {
    pointer-events: all;
    height:100%;
    background-color: rgb(240,240,240);
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    min-width: 200px;
    max-width: 40%;
    z-index:10;
    color:rgb(140,140,140);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.side-menu-element {
    width: calc(100% - 35px);
    padding: 10px 15px 10px 20px;
    cursor: pointer;
    font-size:150%;
}

.side-menu table {
    width: 100%;
    table-layout:fixed;
}

.side-menu table td:nth-child(1) {
    width: 40px;
    text-align:center;
}

.side-menu table td:nth-child(2) {
    word-wrap: break-word;
}

#progressback {
    position:relative; height:3px; width:100%; background-color: #dcdcdc;
}

#progressbar {
    height: 100%; width:0%; background-color: #e2001a; position:relative;
}

button {
    margin: 0em;
    padding:0.5em 1em 0.5em 1.7em;
    border:1px solid rgb(240,240,240);
    background-color:rgb(240,240,240);
    color: rgb(140,140,140);
    text-align:left;
    width:50%;
}

button:hover, button:active {
    background:rgb(220,220,220);
    color: rgb(140,140,140);
    }

/*Diverses*/

.literatur p {
    margin-left:2em;
    text-indent:-2em;
}

.logo {
    width:12em;
    margin-left:2em
}
.license img{
    width:6em;
    margin-left:2em;
}

.btn {
    cursor: pointer;
}

.skip-arrows {
    position: fixed;
    width:1100px;
    max-width: 100%;
}

#btnNext:before {
    color:rgb(200,200,200);
    position:absolute;
    top:5em;
    right:6%;
}

#btnPrev:before {
    color:rgb(200,200,200);
    position:absolute;
    top:5em;
    left:6%;
}

/*Icons*/

.icon-font {
    font-family: eLearn-icons;
}

.icon-next:before{
    font-family: eLearn-icons;
    font-size:1.8em;
    content: "n";
}

.icon-back:before{
    font-family: eLearn-icons;
    font-size:1.8em;
    content: "b";
}

.icon-menue:before{
    font-family: eLearn-icons;
    font-size:1em;
    content: "m";
}

.icon-show:before{
    font-family: eLearn-icons;
    font-size:1em;
    content: "s";
}

.icon-expand:before{
    font-family: eLearn-icons;
    font-size:1em;
    content: "c";
}

.icon-print:before{
    font-family: eLearn-icons;
    font-size:1em;
    content: "p";
}

.icon-info:before{
    font-family: eLearn-icons;
    font-size:1em;
    content: "i";
}

.icon-question:before{
    font-family: eLearn-icons;
    font-size:1em;
    content: "q";
}

.icon-zoom:before{
    font-family: eLearn-icons;
    font-size:1em;
    content: "z";
}

.icon-right:before{
    font-family: eLearn-icons;
    font-size:1em;
    content: "r";
}

.icon-wrong:before{
    font-family: eLearn-icons;
    font-size:1em;
    content: "w";
}

.icon-share:before{
    font-family: eLearn-icons;
    font-size:1em;
    content: "a";
}

.icon-zip:before{
    font-family: eLearn-icons;
    font-size:1em;
    content: "x";
}

.icon-pdf:before{
    font-family: eLearn-icons;
    font-size:1em;
    content: "f";
}

.icon-epub:before{
    font-family: eLearn-icons;
    font-size:1em;
    content: "e";
}

.before-padding:before{
    padding: 10px;
}


.mirrorY {
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  display: inline-block;
}

/*
QR Overlay
*/

#qr_overlay {
    display: none;
    position: fixed;
    max-width: 1100px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0,0,0,0.5);
}

#qrcode {
    position: absolute;
    top: calc(50% - 128px);
    left: calc(50% - 128px);
    border: 5px solid #fff;
    background-color: #fff;
    line-height: 0;
}

/*Lightbox*/

.lb-wrap {
    display: none;
    position: fixed;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

.lightbox {
    max-width: 80%;
    min-width: 50%;
    overflow-y: auto;
    margin: auto;
    background: #fff;
    max-height: calc(100% - 120px);
    margin-top: 60px;
    border: 1px solid #b4b4b4;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
}

#info .info-wrapper {
    padding: 10px 20px 10px;
}

#info .elearn-info {
    margin-top: 20px;
    font-size: 80%;
    background: #dcdcdc;
    padding: 10px 20px 10px;
}

#info .support {
    padding: 10px 20px 10px;
}

#info .support img {
    width: auto;
    float: right;
    margin: 0;
}


/* -------------------------- Bilder Galerie -------------------------- */

div.slider-con {
    position: relative;
    padding: 20px 60px 20px;
    background: #888;
    border-radius: 5px;
    margin: 1em 0 0;
}

div.preview-con {
    position: relative;
    padding: 10px 60px 10px;
    background: #444;
    border-radius: 0 0 5px 5px;
    margin: -5px 0 1em;
}

div.slider, div.slider-nav {
    overflow: hidden;
    position: relative;
    /*border: 3px solid #dcdcdc;
    border-radius: 5px; */
    background: #888;
}

div.slider-nav{
    margin:0;
    background: #444;
}

ul.img-gallery {
    margin: 0;
    padding: 0;
    display: block;
    transition-duration: 0.25s;
}

ul.img-gallery:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.img-gallery p {
    display:none;
}

ul.img-gallery li {
    list-style: none;
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    white-space: nowrap;
    margin-right: 2px;
}

ul.img-gallery li>*{
    position: relative;
    margin: auto;
    max-width: 100%;
    width: auto;
    vertical-align: middle;
}

div.slider-nav ul.img-gallery li {
    border-right: 5px solid #444;
    box-sizing: border-box;
    opacity: 0.5;
    overflow: hidden;
    cursor: pointer;
}

div.slider-nav ul.img-gallery li img {
    max-width: none;
}

div.slider-nav ul.img-gallery li:hover{
    opacity: 0.8;
}

div.slider-nav ul.img-gallery li.active{
    opacity: 1;
}

/* AUSKOMMENTIERT FÜR STATISCHE ANZEIGE -
- Wenn es eingeblendet werden soll muss jeweils statiscch opacity:0 und left/right: -15px*/
/*
div.slider-con:hover .slider-back, div.preview-con:hover .slider-back {
    left: 15px;
    opacity: 1;
}

div.slider-con:hover .slider-next, div.preview-con:hover .slider-next {
    right: 15px;
    opacity: 1;
}
*/
div.slider-con:hover .slider-zoom{
    right: 15px;
    opacity: 1;
}
/*
div.slider-con:hover .slider-back-area, div.preview-con:hover .slider-back-area,
    div.slider-con:hover .slider-next-area, div.preview-con:hover .slider-next-area, */
    div.slider-con:hover .slider-zoom-area {
    opacity: 1;
}

.slider-back, .slider-next, .slider-zoom {
    transition-duration: 0.25s;
    position: absolute;
    top: 50%;
    margin-top: -0.8em;
    color: rgba(255, 255, 255, 0.8);
}

.slider-back-area, .slider-next-area, .slider-zoom-area {
    opacity: 1;
    position:absolute;
    top:0;
    width: 60px;
    height:100%;
    transition-duration: 0.25s;
}


.slider-back-area:hover .slider-back, .slider-next-area:hover .slider-next,
    .slider-zoom-area:hover .slider-zoom{
    color: rgba(255, 255, 255, 1);
}


.slider-back {
    left: 15px;
    opacity: 1;
}

.slider-next {
    right: 15px;
    opacity: 1;
}

.slider-back-area {
    left: 0;
}

.slider-next-area {
    right: 0;
}

.slider-zoom {
    margin-top: -0.4em;
    right: -15px;
    opacity: 0;
    font-size: 180%;
}

.slider-zoom-area {
    right: 5px;
    width: 40px;
    height: 40px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.slider-description {
    display: none;
    position: relative;
    color: white;
    background: #888;
    margin: -5px 0 0;
    text-align: left;
    padding: 10px 60px 10px;
    border-radius: 0 0 5px 5px;
    border-bottom: 15px solid #888;
}

/* BIDLER LIGHTBOX */

.image-zoom-container {
    display:none;
}

.img-lightbox {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: center;
    pointer-events: none;
    white-space: nowrap;
}

.img-lightbox * {
    pointer-events: all;
}

.img-lightbox img {
    position: relative;
    box-sizing: border-box;
    width: auto;
    max-width: calc(100% - 80px);
    max-height: calc(100% - 80px);
    margin: 40px 40px;
}

.lb-bg {
    position: fixed;
    top: 0;
    background: #000;
    opacity: 0.5;
    height: 200%;
    width: 200%;
    z-index: 9;
}

.img-lightbox .close {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    position: relative;
    text-align: center;
    z-index: 1;
    font-size: 150%;
}

.img-lightbox .close:hover {
    color: rgba(255, 255, 255, 1);
}


/*Media-Querys für Responsivität*/

@media screen and (max-width:1100px) {
    .tooltip {
        left: 0;
    }
    .tooltip.right {
        right: 0;
    }
    #tooltipArrowRight {
        right: 6%;
    }

    #tooltipArrowLeft {
        left: 6%;
    }
}

@media screen and (max-width:940px) {
    .page {
        padding: 45px 13% 68px 13%;
    }
    #navigation {
        font-size: 0.8em;
    }
    #btnNext:before, #tooltipArrowRight {
        right:4%;
    }

    #btnPrev:before, #tooltipArrowLeft {
        left:4%;
    }

    .side-menu {
        max-width: 50%;
    }
}

@media screen and (max-width:800px) {
    body {
        font-size: 87.5%;
    }
    #navigation {
        font-size: 0.8em;
    }
    .page {
        padding: 45px 8.5% 68px 8.5%;
    }
    h1 {
        padding:2.8em 0em 1em 0em;
        font-size: 2.6em;
    }
    h2 {
        padding:1.95em 0em 1.1em 0em;
        font-size:1.9em;
    }
    h3 {
        font-size:1.4em;
        margin: 1em 0em 0.8em 0em;
    }
    h4 {
        font-size:1.2em;
        margin: 1em 0em 0.8em 0em;
    }
    #btnNext:before, #tooltipArrowRight {
        right:1%;
    }
    #btnNext:before{
        top:6em;
    }

    #btnPrev:before, #tooltipArrowLeft {
        left:1%;
    }
    #btnPrev:before{
        top:6em;
    }

    #btnNext {
        font-size: 70%;
    }

    #btnPrev {
        font-size: 70%;
    }

    .side-menu {
        max-width: 65%;
    }
    div.slider:hover .slider-back, div.slider-nav:hover .slider-back {
        left: 10px;
        opacity: 1;
    }
    div.slider:hover .slider-next, div.slider-nav:hover .slider-next {
        right: 10px;
        opacity: 1;
    }
    .slider-back-area, .slider-next-area {
        width: 40px;
    }
    .img-lightbox img {
        margin: 40px 20px;
        max-width: calc(100% - 40px);
        max-height: calc(100% - 60px);
    }
    .section-overview-element {
        padding: 5px 0 5px 125px;
        width: calc(100% - 125px);
    }
    .section-overview-element.sub {
        padding: 5px 0 5px 145px;
        width: calc(100% - 145px);
    }
    .section-overview-element.subsub {
        padding: 5px 0 5px 165px;
        width: calc(100% - 165px);
    }

    .section-overview-element.active {
        padding: 5px 0 5px 122px;
    }
    .section-overview-element.active.sub {
        padding: 5px 0 5px 142px;
    }
    .section-overview-element.active.subsub {
        padding: 5px 0 5px 162px;
    }

    /* VIDEOS */
    .elearnjs-video .controls {
        padding: 5px;
    }
}

@media screen and (max-width:440px) {
    body {
        font-size: 81.4%;
    }
    #navigation {
        font-size: 1em;
    }
    .page {
        padding: 45px 4% 30px 4%;
    }
    h1 {
        padding:3.4em 0em 1em 0em;
        font-size: 1.96em;
    }
    h2 {
        padding:1.95em 0em 1.1em 0em;
        font-size:1.6em;
    }
    h3 {
        font-size:1.36em;
        margin: 1em 0em 0.8em 0em;
    }
    h4 {
        font-size:1.2em;
        margin: 1em 0em 0.8em 0em;
    }

    #btnNext:before, #btnPrev:before, #tooltipArrowRight, #tooltipArrowLeft {
        display: none;
    }

    .side-menu {
        max-width: 85%;
    }
    div.slider:hover .slider-back, div.slider-nav:hover .slider-back {
        left: 4px;
        opacity: 1;
    }
    div.slider:hover .slider-next, div.slider-nav:hover .slider-next {
        right: 4px;
        opacity: 1;
    }
    .slider-back-area, .slider-next-area {
        width: 25px;
    }
    .img-lightbox img {
        margin: 20px 10px;
        max-width: calc(100% - 20px);
        max-height: calc(100% - 30px);
    }
    .section-overview-element {
        padding: 5px 0 5px 82px;
        width: calc(100% - 82px);
    }
    .section-overview-element.sub {
        padding: 5px 0 5px 92px;
        width: calc(100% - 92px);
    }
    .section-overview-element.subsub {
        padding: 5px 0 5px 102px;
        width: calc(100% - 102px);
    }

    .section-overview-element.active {
        padding: 5px 0 5px 79px;
    }
    .section-overview-element.active.sub {
        padding: 5px 0 5px 89px;
    }
    .section-overview-element.active.subsub {
        padding: 5px 0 5px 99px;
    }
    #btnBackText, #btnAllText, #btnHelpText {
        display:none;
    }
    #btnExp {
        width: calc(100% - 142px - 5px);
    }
    .back-enabled #btnExp {
        width: calc(100% - 180px - 5px);
    }
    #btnHelp {
        margin-right: 0;
    }

    /* VIDEOS */
    .elearnjs-video .controls {
        padding: 3px;
    }
    .elearnjs-video.mobile .mobile-overlay .icon,
    .elearnjs-video .play-overlay .play {
        font-size: 36pt;
    }
    .elearnjs-video.mobile .mobile-overlay .icon:hover,
    .elearnjs-video .play-overlay .play:hover {
        font-size: 38pt;
    }
}


@media print {
    body {
        font-size:78%;
    }
    .page {
        padding: 45px 8.5% 68px 8.5%;
    }

    #navigation {
        display:none !important;
    }
    .skip-arrows {
        display: none !important;
    }
    h2 {
        page-break-before:always;
    }
    code {
        white-space:pre-wrap;
    }
}
